.update-article-container {
  background-color: #1f1f1f; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 20px; /* Отступ для внутреннего контента */
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование содержимого */
}

.update-article-header {
  font-size: 1.8rem; /* Размер шрифта заголовка */
  margin-bottom: 10px; /* Отступ после заголовка */
}

.update-article-form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ширина формы относительно родителя */
  max-width: 800px; /* Максимальная ширина формы */
}

.update-article-form div {
  margin-bottom: 15px; /* Отступ между полями формы */
}

.update-article-form label {
  display: block; /* Занимает всю ширину */
  margin-bottom: 5px;
}

.update-article-form input[type="text"],
.update-article-form textarea,
.update-article-form select {
  width: 100%; /* Ширина полей ввода */
  background-color: #2a2a2a; /* Цвет фона полей ввода */
  border: 1px solid #333; /* Цвет границы полей ввода */
  border-radius: 5px;
  color: white; /* Цвет текста внутри полей ввода */
  padding: 10px; /* Внутренний отступ полей ввода */
  font-size: 1rem; /* Размер шрифта */
}

.update-article-form textarea {
  height: 350px; /* Высота textarea */
}

.update-article-form input[type="file"] {
  display: none; /* Скрытие стандартного input файла */
}

.file-upload-button {
  background-color: #4170DA; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  padding: 10px 15px;
  font-size: 1rem; /* Размер шрифта кнопки */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Центрирование текущего фото */
  display: flex; /* Use flexbox to align icon and text */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Optional: style for the icon */
.file-upload-button .MuiSvgIcon-root {
  margin-right: 8px; /* Add some space between icon and text */
}

.file-upload-button:hover {
  background-color: #365A96; /* Цвет фона кнопки при наведении */
}

.file-upload-text {
  margin-left: 10px; /* Отступ справа от кнопки */
  color: #aaa; /* Цвет текста для названия файла */
}

.update-article-tags .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Или любой другой отступ, который вы используете */
}

.update-article-tag {
  background-color: #2a2a2a;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.update-article-tag input[type="checkbox"] {
  margin-right: 5px;
}

/* Дополнительный стиль для выделенных тегов */
.update-article-tag input[type="checkbox"]:checked + span {
  font-weight: bold; /* Выделение жирным выбранных тегов */
}

.submit-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  gap: 8px; /* Add some space between the icon and text */
}

.submit-button {
  background-color: #4170DA;
  color: white;
}

.submit-button:hover {
  background-color: #365A96;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f;
}

/* Icon styles */
.submit-button .MuiSvgIcon-root,
.delete-button .MuiSvgIcon-root {
  font-size: 1.1rem; /* Adjust the size of the icon */
}

.cancel-button {
  background-color: #6c757d; /* Серый цвет для кнопки отмены */
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: #5a6268; /* Темно-серый цвет при наведении */
}

.current-article-image {
  max-width: 100%; /* Максимальная ширина изображения */
  height: auto; /* Автоматическая высота для поддержания пропорций */
  border-radius: 5px; /* Скругление углов изображения */
  margin-bottom: 15px; /* Отступ под изображением */
}
