.registration-page-container {
  background-color: #1f1f1f; /* Цвет фона */
  color: white; /* Цвет текста */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form-container {
  background-color: #333; /* Цвет фона формы */
  padding: 25px;
  border-radius: 10px; /* Скругление углов */
  width: 100%;
  max-width: 400px; /* Максимальная ширина формы */
}

.registration-form-title {
  text-align: center;
  margin-bottom: 20px; /* Отступ после заголовка */
}

.registration-form-error {
  color: #ff3860; /* Цвет ошибки */
  text-align: center; /* Выравнивание текста по центру */
  margin-bottom: 15px; /* Отступ после сообщения об ошибке */
}

.registration-form {
  display: flex;
  flex-direction: column; /* Элементы формы выстроены в колонку */
}

.form-group {
  margin-bottom: 15px; /* Отступ между полями формы */
}

.form-control {
  padding: 10px; /* Поле ввода */
  border-radius: 5px; /* Скругление углов полей */
  border: 1px solid #ddd; /* Цвет границы полей */
  font-size: 1rem; /* Размер шрифта */
  background-color: #fff; /* Цвет фона полей */
  color: #333; /* Цвет текста */
  width: calc(100% - 20px);
  flex: 1;
  margin-right: -30px; /* Сдвигаем на размер иконки */
}

.registration-form-password-group {
  position: relative;
}

.registration-password-toggle {
  position: absolute;
  right: 3px; /* Небольшой отступ справа */
  height: 38px; /* Высота равна высоте поля ввода */
  width: 30px; /* Ширина для размещения иконки */
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убрать стандартную границу */
  cursor: pointer;
  outline: none; /* Убрать контур при фокусе для доступности */
}

.fa-eye, .fa-eye-slash {
  font-size: 18px;
  color: #333;
  background-color: transparent;
}

.btn.registration-form-submit {
  background-color: #4170DA; /* Цвет кнопки */
  color: #fff; /* Цвет текста кнопки */
  padding: 10px 15px; /* Отступы внутри кнопки */
  border: none;
  border-radius: 5px; /* Скругление углов кнопки */
  font-size: 1rem; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  text-align: center; /* Отцентровка текста кнопки */
  display: block; /* Блочный элемент для полной ширины */
  width: 100%; /*
  margin-top: 20px; /* Отступ сверху */
}

.btn.registration-form-submit:hover {
  background-color: #365e9d; /* Цвет кнопки при наведении */
}
